In [1]:
#Import packages we will need for our analysis 
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
#Load our Data Set into a data frame
isp = pd.read_csv('cleaned_data.csv')

In [3]:
# Do a quick check on the Data set. Records and Variables do we have4? What does the data look like?
print(isp.shape)
pd.set_option('display.max_columns', None) # ensure we can see the full data set
isp.head()

(208453, 23)

,record_id,restaurant_name,borough,building,street,zipcode,phone,cuisine_description,inspection_date,action,violation_code,violation_description,critical_flag,score,grade,grade_date,date_of_data_pull,inspection_type,latitude,longitude,community_board,council_district,census_tract
0,41503108,TULCINGO RESTAURANT,Queens,40364040,NATIONAL STREET,NaN,7186398880,Mexican,2023-09-26,Violations were cited in the following area(s).,02B,Hot TCS food item not held at or above 140 °F.,Critical,26.0,NaN,NaN,11/12/2023,Cycle Inspection / Initial Inspection,0.000000,0.000000,NaN,NaN,NaN
1,50135598,United Chinese Association of Brooklyn,Brooklyn,1787,STILLWELL AVENUE,11223.0,7182320055,NaN,1900-01-01,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/12/2023,NaN,40.602887,-73.986424,311.0,43.0,40400.0
2,50139946,CHEZ OMAR,Manhattan,394,WEST STREET,10014.0,9175606080,NaN,1900-01-01,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/12/2023,NaN,40.733028,-74.010284,102.0,3.0,7500.0
3,50126672,NaN,0,2,SHADY BROOK LN,8512.0,6097997555,NaN,1900-01-01,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/12/2023,NaN,NaN,NaN,NaN,NaN,NaN
4,50107357,NaN,Queens,29-21,ASTORIA BOULEVARD,11102.0,3478080747,NaN,1900-01-01,NaN,NaN,NaN,Not Applicable,NaN,NaN,NaN,11/12/2023,NaN,40.770403,-73.919343,401.0,22.0,6900.0